name: Test the code

on:
  workflow_call

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Golang
        uses: actions/setup-go@v5
        with:
          go-version: 1.25.0
      - name: Compile
        run: go build -o tmp/grab main.go
      - name: Test
        run: go test -count=1 ./...
      - name: Lint
        run: |
          go install github.com/golangci/golangci-lint/v2/cmd/golangci-lint@v2.3.0
          golangci-lint run ./...
